# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# Firebase (NON versionare)
lib/firebase_options.dart
firebase.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
